<section class="article-content clearfix">
		<h1>Welcome to FLOSS Coach</h1>
<hr/>
<h3><em>FLOSS Coach </em>creators are researchers who want to help newcomers to Open Source</h3>
<h4>Have you ever thought about contributing to an Open Source Project? Have you tried? Was it too hard?</h4>
<p>We can help you! Our goal is to support newcomers to contribute to Open Source Software. This portal  was conceived aiming at making newcomers aware of the obstacles they can face and presenting them useful information to facilitate their contribution process.</p>
<p>This is a prototype conceived to evaluate the approach. We bring a suggested contribution flow and a dashboard split by barrier, where the newcomers will find some information about the process.</p>
<p>
  <b>This is an experimental prototype.</b> Please use the comments to give feedback or leave suggestions for each page you visit. Tell us you you found any difficulty, if you found outdated information and even if you want to suggest new contents to help this coaching tool.
</p>
<p>
  Use the <a href="/forums">Forum</a> to give your overall feedback, to tell us any good or bad experience you had joining Open Source Software projects, or to discuss and leave tips to other newcomers that are interested in joining projects. 
</p>
<p>
  Interested in our research? Check our <a href="">Publications</a> 
</p>
<p></p>
  
  <table>
    <tr style="border:0">
    	<td style="border:0">
          <font color="red"><b>&nbsp;&nbsp;<a href="">Register NOW!</a> Check our prototype and give us your feedback</b></font>
      	</td>
    </tr>
</table>


<p>I hope you enjoy your journey. And, thanks for contributing!</p>
<p> </p>
