<% if user_signed_in? %>
  <li>
  <%= link_to 'Editar cadastro', edit_user_registration_path, class: 'btn btn-primary' %>
  </li>
<% else %>
  <li>
  <%= link_to 'Novo Usuário', new_user_registration_path, class: 'btn btn-primary'  %>
  </li>
<% end %>