<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou este link para alterar sua password. Você pode fazer isto no link abaixo.</p>

<p><%= link_to 'Mudar', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary' %></p>

<p>Se você não fez tal requisição ignore este email.</p>
<p>Seu email não mudará enquanto não acesssar este link .</p>
