<p>Ol치 <%= @resource.email %>!</p>

<p>Sua conta foi travada por excesso de tentativas inv치lidas.</p>

<p>V치 ao link abaixo para destrav치-la:</p>

<p><%= link_to 'Destravar', unlock_url(@resource, unlock_token: @token), class: 'btn btn-primary' %></p>
